<%= link_to "Edit File", edit_task_path %>

<h1><%= @task.title%></h1>
<p><%= @task.details%></p>

<%if @task.completed == false %>
  <%= "This task is not completed yet"%>
  <% else %>
  <%= "This task is completed" %>
<% end %>

<%= link_to "retour", "/tasks" %>
